<!DOCTYPE html>
<html>
<head>
	<title>Fave Tasks App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">	
	<h1>Error</h1>
	<p>You inputed the phrase, "Be mean to myself." This is a big no-no. You have to believe in yourself! Please input a new task that is good for your self esteem!</p>

	<ul>
		<% @fave_tasks.each do |fave_task| %>
		<li><%= fave_task.description %>&nbsp;<%= fave_task.date %>&nbsp;<%= fave_task.time %></li>
		<% end %> <!-- would like to create a link here that leads to individual page to edit -->
	</ul>

	<form action="/fave_tasks" method="post">
		<input type="text" id="description" name="description" class="form-control" placeholder="Task, Activity, or Appointment Description">
		<br>
		<input type="date" id="date" name="date" value="mm-dd-yyyy"  class="form-control" placeholder="Task Date">
		<br>
		<input type="time" id="time" name="time" class="form-control" placeholder="Task Time">
		<!-- <input type day and time> -->
		<!-- 		<textarea rows="4" cols="50" id="notes" name="notes"></textarea> -->
		<br>
		<br>
		<p><button type="button" class="btn btn-primary btn-lg btn-block">Add Task Now</button></p>
		<!-- <input type="submit" a class="btn btn-primary btn-lg" role="button"></a> -->
	</form>
	</div>
</body>
</html>