<!DOCTYPE html>
<html>
<head>
	<title>Fave Tasks App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">
	<h1>My Task Scheduler</h1>
	<p>Put yo' tasks in and we'll schedule it!</p>

	<ul>
		<% @fave_tasks.each do |fave_task| %>
		<li><%= fave_task.description %>&nbsp;<%= fave_task.date %>&nbsp;<%= fave_task.time %> - <a href="/<%= fave_task.id %>/edit">Edit</a></li>
		<% end %>
	</ul>

	<form action="/fave_tasks" method="post">
		<input type="text" id="description" name="description" class="form-control" placeholder="Task, Activity, or Appointment Description">
		<br>
		<input type="date" id="date" name="date" value="mm-dd-yyyy"  class="form-control" placeholder="Task Date">
		<br>
		<input type="time" id="time" name="time" class="form-control" placeholder="Task Time">
		<!-- <input type day and time> -->
		<!-- 		<textarea rows="4" cols="50" id="notes" name="notes"></textarea> -->
		<br>
		<br>
		<p><input type="submit" button type="button" class="btn btn-primary btn-lg btn-block" value="Add Task Now"></a></p>
		<!-- <input type="submit" a class="btn btn-primary btn-lg" role="button"></a> -->
	</form>
	</div>
</body>
</html>
<!-- class="input-medium search-query" -->