<!DOCTYPE html>
<html>
<head>
	<title>Fave Tasks App</title>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron">	
	<h1>Error</h1>
	<p>You inputed the phrase, "Be mean to myself." This is a big no-no. You have to believe in yourself! Please input a new task that is good for your self esteem!</p>

	<ul> 
		<% @fave_tasks.each do |fave_task| %>
		<li><%= fave_task %></li> <!-- <li>Feed Dog</li> -->
		<% end %>
	</ul>

	<form action="/fave_tasks" method="post">
		<input type="text" id="notes" name="notes">
		<br>
		<br>
		<p><input type="submit" a class="btn btn-primary btn-lg" role="button"></a></p>
	</form>
	</div>
</body>
</html>